#out{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#d1{
    height: 30px;
    width: 30px;
    background-color: aqua;
    border: 2px solid black;
}
#d1:hover{
    background-color: crimson;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in; */
    transition: all 5s ease-in 0.5ms;
    transform: rotate(720deg) scale(2.0) translate(30px,50px) skew(30deg);
    
    /**/
}
#d1:active{
    background-color: pink;
}