*{
    margin: 0;
    padding:0;
    
}
nav,footer{
    background-color: darkgrey;
}
a{
    color: aliceblue;
    width: fit-content;
    margin-right:0px ;
    padding: auto;
    margin: 0px 50px 0px 50px;
    text-decoration: none;
}
#logo{
    color:orange;
}
.contentBox{
    height: 100px;
    width: 100px;
    margin: 10px;
    border: 2px solid black;
    display: inline-block;
    background-color: aliceblue;
    opacity: 0.5;
}
.content{
    height: max-content;
    width: auto;
    display: block;
    border: 2px solid rgb(65, 62, 62);
    background-color: black;
}