#d1{
    align-self: center;
    height: 150px;
    width: 150px;
    background-color: aquamarine;
    animation-name: colourAnimate;
    animation-duration: 0.5s;
    /* animation-timing-function: ease-in; */
    animation-iteration-count: 10;
}
@keyframes colourAnimate{
    from {background-color: aquamarine;}
    to {background-color: red}
}
#d1:hover{

}