#d1{
    color: aliceblue;
    background-color: black;
    width: 80vw;
    height: 300px;
    font-size: 20px;
}
#d2{
    align-self:center;
    background-color: orange;
    opacity: 0.7;
    width: 50%;
    height: 50%;
    font-size: 2em;
}