div{
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10%;
    text-align: center;
}
#d1{
    position: static;
}
#d2{
    position: relative;/*Relative to itself*/
    top: 20px;
    left: 20px;
    z-index: 1;
}
#d3{
    position: absolute;/*relative to closest positioned non static ancestor    Removed from flow*/
    top: 20px;
}
#d4{
    position: fixed;/*relative to Browser    Removed from flow*/
    bottom: 10px;
    left: 0px;
    width: 100vw;
    z-index: -1;
}